<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
  <style>
    body{
      margin:0;
    }
    .header{
      background-color:#333;
    }
    .header .left{
      float:left;
    }
    .header .right{
      float:right;
    }
    .container{
      width:1226px;
      margin:0 auto;
    }
    .header a{
      color:#b0b0b0;
      line-height:40px;
      font-size:12px;
      margin-right:10px;
      display:inline-block;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="left">
      <a href="xx">小米官网</a>
      <a href="xx">小米商城</a>
      <a href="xx">小米澎湃OS</a>
      <a href="xx">小米汽车</a>
      <a href="xx">云服务</a>
      <a href="xx">loT</a>
      <a href="xx">有品</a>
      <a href="xx">小爱开放平台</a>
      <a href="xx">资质证照</a>
      <a href="xx">协议规则</a>
      <a href="xx">下载app</a>
      <a href="xx">Select Location</a>
    </div>
    <div class="right">
      <a href="xx">登录</a>
      <a href="xx">注册</a>
      <a href="xx">消息通知</a>
      <a href="xx">购物车</a>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
</body>
</html>