<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<h1>用户列表</h1>
<table border="1px solid red">
    <thead>
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>密码</td>
        <td>手机号</td>
    </tr>
    </thead>
    <tbody>
    {% for item in data_list %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.mobile }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>